<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @brand.logo_url %>
</p>

<ul>
  <% @brand.products.each  do |product| %>
    <li><%= image_tag(product.image) %></li>
    <li><%= product.name %></li>
    <li><%= product.description  %></li>
    <li><%= product.image %></li>
    <li><%= product.price_retail %></li>  
  <% end %>
</ul>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
