<div class="col-sm-6 col-md-4 col-lg-3">
  <div class="thumbnail">
    <%= image_tag(product.image) %>
    <div class="caption">    
      <h3><%= link_to truncate(product.name, length: 15), product %></h3>
      <h4>by <%= product.brand.try(:name) %></h4>
      <p><%= truncate(product.description, length: 30) %></p>
      <div class="star star-<%= product.id %>"></div>
      <p><%= link_to "Buy #{number_to_currency(product.price_retail, unit: "£")}", product.url, target: :_blank, class: "btn btn-primary" %> <%= link_to 'View', product, class: "btn btn-default" %></p>
      <script>
        var star = ".star-" + <%= product.id %>
        $(star).raty({
          readOnly: true,
          score: <%= product.average_rating %>,
          path: '/assets'
        });
      </script>
    </div>
  </div>
</div>